body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f4efe6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.window {
  width: 500px;
  background: #e7ddc7;
  border: 3px solid #4a403a;
  box-shadow: 8px 8px 0px #4a403a;
}

.titlebar {
  background: #4a403a;
  color: white;
  padding: 12px;
  font-weight: bold;
}

.content {
  padding: 30px;
  text-align: center;
}

input {
  width: 80%;
  padding: 12px;
  margin-top: 10px;
  border: 2px solid #4a403a;
  border-radius: 6px;
}

button {
  background: #f3b4c5;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

button:hover {
  transform: scale(1.05);
}

.pig {
  font-size: 100px;
  transition: 0.4s;
}